*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration:none;
}

body{
	font-family: Helvetica;
}

.page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#E7DFD7;
	min-height: 100vh;
	min-height: 100dvh;
	padding: 50px 0px;
	color:#222F42;
}

#welcome-page{
	background-color:#ebe7e6;
}

.pg2-section{
	background-color:#EBE7E6;
	color:#202020;
}

.pg3-section{
	background-color:#EBE7E6;
}

/*
.page:nth-child(even){
	color:#1D2D44;
}

.page:nth-child(odd){
	background-color:#E7DFD7;
}
*/


img{
	border-radius: 10px;
	object-fit:cover;
	background-color: #fefefe;
	max-height 300px;
	max-width: 500px;
	width:100%;
}

#img-sewing{
opacity: 95%;
}

/* Big Devices */
.component{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:stretch;
	flex-wrap:wrap;
	gap:15px;
}

.text-section{
	border-radius: 10px;
	text-align: center;
	margin: 0px 20px;
	margin: 20px 0;
	padding: 3em;
}

.reference{
	margin: 15px 0;
}
.horizontal-layout{
	display:block;
}


header{
	font-weight: bold;
	text-align:center;
	font-size:5em;
	padding-bottom: 1%;
}


h2{
	text-align:center;
	padding:15px;
	font-size:2em;
}

p{
	padding: 5px;
	font-size:1.5em;
}

footer{
	text-align: center;
	padding: 10px;
	font-weight: bold;
	color: white;
	background-color: #4A4951;
}

#navigation-buttons{
	display: flex;
	justify-content: flex-end;
}

.button{
	padding: 10px 20px;
	margin:30px 40px;
	background-color: white;
	color: black;
	position:fixed;
	border-radius:10px;
	font-size: 1.5em;
	font-weight: bold;	
	text-align: center;
}


/* small devices*/
@media (max-width:920px){
.pg2-section{
	width: 100%;
}
.component{
	gap: 0px;
}
.text-section{
	margin: 0px;
}
.button{
margin: 0px;
padding: 3px;
}
}
