*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration:none;
}

body{
	padding:0;
	margin:0;
	background-color:#3E5C76;
	min-width: 590px;
	font-family: Helvetica;
}

main{
	width:100%;	
	background-color:grey;
	min-height: 100vh;
}


.text-section{
	border-radius: 10px;
	text-align: center;

}

img{
	background-color: white;
}

@media (min-height: 818px) and (min-width:1651px){
.page{
	height:100vh;
}
}


@media (min-width:1340px){
.component{
	display: flex;
	justify-content:space-evenly;
	flex-direction: row;
	align-content: space-between;
}
.text-section{
	margin: 0px 20px;
}
.page{
	padding:20px;
}
img{
	min-height:350px;
	max-height:600px;
}
section{
	padding: 2em;
}
}


@media (max-width: 1339.9px){
.component{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:stretch;
	flex-wrap:wrap;
	gap:15px;
}
img{
	max-height:350px;
}
.reference{
	margin: 15px 0;
}
.text-section{
	margin:20px 0;
}
section{
	padding: 3em;
}
}


#welcome-page{
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	color:#101010;
	background-color:white;
	background-image: url("./assets/nature.png");
	background-size: cover;
}

.page:nth-child(even){
	background-color:#E1ECF7;
	color:#1D2D44;
}

.page:nth-child(odd){
	background-color:#E3D5CA;
}

.pg2{
	background-color:#AECBEB;
	color:#202020;
	width: auto;
}

.pg3{
	background-color:#D4A373;
}

header{
	font-weight: bold;
	text-align:center;
	font-size:5em;
}

img{
	border-radius: 10px;
	object-fit:scale-down;
}

h2{
	text-align:center;
	padding:15px;
	font-size:2em;
}

p{
	padding: 5px;
	font-size:1.5em;
}

footer{
	text-align: center;
	padding: 10px;
	font-weight: bold;
	color: white;
}

#navigation-buttons{
	display: flex;
	justify-content: flex-end;
}

.button{
	padding: 10px 20px;
	margin:30px 40px;
	background-color: white;
	color: black;
	position:fixed;
	border-radius:10px;
	font-size: 1.5em;
	font-weight: bold;	
	text-align: center;
}
